<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartfoxitsolutions.lockup">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission tools:ignore="ProtectedPermissions"
        android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:allowClearUserData="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_small" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorMainPrimary" />

        <meta-data android:name="com.smartfoxitsolutions.lockup.mediavault.AlbumArtModule"
            android:value="GlideModule"
            />
        <activity android:name=".AppLoaderActivity"
            android:excludeFromRecents="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LockUpMainActivity"
            android:theme="@style/MainScreenTheme"
            android:excludeFromRecents="true"
            />
        <activity android:name=".MainLockActivity"
            android:excludeFromRecents="true"/>
        <activity android:name=".ResetPasswordActivity"
            android:excludeFromRecents="true"/>
        <activity android:name=".SetEmailActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            />
        <activity android:name=".LockUpSettingsActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".SetPinPatternActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AppLockActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".NotificationLockActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".mediavault.MediaVaultAlbumActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".mediavault.MediaAlbumPickerActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".mediavault.MediaPickerActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".mediavault.MediaMoveActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            </activity>
        <activity android:name=".mediavault.MediaVaultContentActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".mediavault.VaultImageViewActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".mediavault.VaultVideoPlayerActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".mediavault.VaultAudioPlayerActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".FingerPrintActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.smartfoxitsolutions.lockup.FingerPrintActivity"
            />
        <activity android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:name=".services.AppLockingService" android:persistent="true" android:priority="1000">
        </service>
        <service android:name=".services.AppLockForegroundService"/>
        <service android:name=".services.GetPaletteColorService"/>
        <service android:name=".mediavault.services.MediaMoveService" android:persistent="true"/>
        <service android:name=".mediavault.services.ShareMoveService" android:persistent="true"/>
        <service android:name=".services.NotificationLockService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.AppUpdateService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <receiver android:name=".receivers.AppLockServiceRestartReceiver"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="com.smartfoxitsolutions.lockup.RESTART_LOCK_SERVICE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AppLockServiceBootReceiver"
            android:exported="true" android:priority="2147483647">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AppLockRemovePackageReceiver"
            android:priority="2147483647">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PreventUninstallReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            >
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policy"
                />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>