<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartfoxitsolutions.lockup">

    <uses-permission tools:ignore="ProtectedPermissions"
        android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".mediavault.MediaVaultActivity"
            android:excludeFromRecents="true"
            android:theme="@style/DarkActivityTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LockUpMainActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".SetPinPatternActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            />
        <activity android:name=".AppLockActivity"
            android:excludeFromRecents="true"
            />
        <activity android:name=".PinLockActivity"
            android:theme="@style/LockActivityTheme"
            android:excludeFromRecents="true"
            />
        <activity android:name=".PatternLockActivity"
            android:theme="@style/LockActivityTheme"
            android:excludeFromRecents="true"
            />
        <activity android:name=".mediavault.MediaAlbumPickerActivity"
            android:excludeFromRecents="true"
            android:theme="@style/DarkActivityTheme"
            />
        <activity android:name=".mediavault.MediaPickerActivity"
            android:excludeFromRecents="true"
            android:theme="@style/DarkActivityTheme"
            />

        <activity android:name=".mediavault.SampleVaultActivity"/>

        <service android:name=".AppLockingService" />
        <service android:name=".GetPaletteColorService"/>
        <service android:name=".NotificationLockService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>


        <receiver android:name=".AppLockServiceRestartReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.smartfoxitsolutions.lockup.RESTART_LOCK_SERVICE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>